@import "tailwindcss";

@theme {
  /* Deep Emerald & Metallic Gold */
  --color-primary: #022c22;
  --color-accent: #d4af37;
  --color-surface: #f8fafc;
  --color-surface-dim: #e5e5e0;

  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: scroll; Removed to let browser handle default */
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(50%);
  }
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.mask-linear-fade {
  mask-image: linear-gradient(to right, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

@keyframes smoke-float {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.4;
  }

  100% {
    transform: translateY(-40px) scale(1.5) rotate(10deg);
    opacity: 0;
  }
}

.animate-smoke {
  animation: smoke-float 8s infinite ease-in-out;
}